.income-ctr {
  /* border: 1px solid gold; */
  height: 90%;
  padding-left: 10px;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  margin: 10px;
  width: 33%;
  margin-left: 10px;
}

.income-ctr > h3 {
  padding-left: 15px;
  margin-bottom: 0px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;

}



.switchbutton {
  background-color: transparent;
  color: goldenrod;
  padding: 0px 5px;
  cursor: pointer;
  font-size: 1em;
  border: none;
  outline: none;
  display: inline-block;
  font-weight: bolder;
}
.switchbutton:hover {
  font-size: 1.3em;
}

.form-ctr{
  width: 100%;
  height: 300px;
  margin-right: auto;
  margin-top: 15%;
  display: block;
  background-color: white;
  padding-right: 60px;
  padding-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  max-width: 350px;
  border: 1px solid goldenrod;
}

.form-title {
  color: black;
  font-weight: 300;
  margin-bottom: 10px;
  border-bottom: 1px solid goldenrod;
  display: inline-block;
}

.landing-title-signup {
  color: white;
  border-bottom: 1px solid goldenrod;
  display: inline-block;
  font-weight: 300;
  padding-bottom: 5px;
}


.formField {
  margin-bottom: 40px;
}

.details-main-ctr .formFieldLabel {
 
  text-transform: uppercase;
  font-size: 0.9em;
  color: black;
  padding-top: 15px;
}
.formFieldInput {
  width: 85%;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid goldenrod;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 5px;
  margin-top: 5px;
}

.formFieldInput::placeholder {
  color: black;
}

.details-main-ctr .formFieldButton {
  background-color: rgba(69, 20, 198, 1);
  color: white;
  border: 1px solid goldenrod;
  outline: none;
  padding: 5px 20px;
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}

.formFieldButton:hover {
  background-color: linear-gradient(0deg, goldenrod 0%, goldenrod 100%);
}



table {
  table-layout: auto;
  width: 100%;  
}

.table-ctr {
  
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border: 2px solid goldenrod;
  max-width: 350px;
}

.table-head{

background: black;
color: white;
margin-right: 5px;
text-transform: uppercase;
font-style: normal;
align-items: center;
margin: 5px;
border-spacing: 50px;
padding: 5px;
}

td {
  text-align: center;
  padding: 2px;
}

#delete, #edit {
  padding: 3px;
  margin: 2px;
}

#cancel, #save {
  display: inline;
  padding: 1px;
}
#edit-input {
  padding: 0px;
  width: 90%;
}