.assets-ctr {
  border: 1px solid gold;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  padding-bottom: 35px;
  margin: 10px;
  width: 33%;

}

.assets-ctr > h3 {
  margin-bottom: 0px;
  margin-right: 10px;
}
